.bloodheadback {
  width: 100%;
  height: 20vh;
  margin-top: -1rem;
  background: url("/bloodheadback.png"),
    linear-gradient(
      90deg,
      rgba(244, 147, 147, 1) 0%,
      rgba(255, 212, 212, 1) 35%,
      rgba(246, 159, 159, 1) 100%
    );
  background-size: contain;
  margin-bottom: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.announcehead {
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
}

.mythbox {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.mythhead {
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.announcehead img:nth-of-type(2) {
  width: 45px;
  height: 45px;
  transform: scaleX(-1);
}
.announcehead img:nth-of-type(1) {
  width: 45px;
  height: 45px;
}
.mythhead img:nth-of-type(1) {
  width: 45px;
  height: 45px;
}
.mythhead img:nth-of-type(2) {
  width: 45px;
  height: 45px;
  transform: scaleX(-1);
}
.announcediv {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.announcedetail {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.announcedetail p {
  width: 50%;
  text-align: center;
}
.announceimg {
  border-radius: 8px;
  box-shadow: 0 3px 13px rgba(87, 87, 87, 0.322);
  padding: 3px;
}
@media (max-width: 550px) {
  .announcedetail p {
    width: 90%;

    margin: auto;
  }
  .myths {
    width: 95vw !important;
  }
}

.followdiv {
  margin-bottom: 2rem;
  width: 20rem;

  box-shadow: 0 3px 12px rgb(210, 201, 201);
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 12px;
  animation: animatediv 4s ease-in-out infinite;
}

@keyframes animatediv {
  0% {
    background-color: rgb(222, 253, 253);
  }
  25% {
    background-color: rgb(232, 253, 222);
  }
  55% {
    background-color: rgb(227, 222, 253);
  }
  100% {
    background-color: rgb(222, 253, 253);
  }
}
.followdiv h3 {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.followdiv div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.followdiv div a:hover {
  color: blue;
  transition: 0.2s all;
  text-decoration: underline;
}
