.bookform {
  width: 23rem;
  margin: auto;
  padding: 1rem;
  border-radius: 4px;

  margin-top: 1rem;
  background: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 0 4px 30px rgba(15, 14, 14, 0.297);
}

.bookformsubmit {
  align-items: center;
  background-color: #0101e6 !important;
  border-radius: 4px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #aeaefc 0 -3px 0 inset;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  /* font-family: "JetBrains Mono", monospace; */
  height: 35px;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  transition: box-shadow 0.15s, transform 0.15s;
  font-size: 14px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.bookformsubmit:focus {
  box-shadow: #4141e4 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3a3ad6 0 -3px 0 inset;
}

.bookformsubmit:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3b3be4 0 -3px 0 inset;
  transform: translateY(-2px);
}

.bookformsubmit:active {
  box-shadow: #2020dc 0 3px 7px inset;
  transform: translateY(2px);
}

.cliniccard {
  width: 23rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  color: #36395a;
  background-color: #f8f8ff !important;
  border-radius: 8px;
  box-shadow: 5px 15px 20px rgba(37, 43, 51, 0.265);
  font-family: "Poppins", sans-serif;
  margin: 5px;
  border-top: 4px solid rgb(1, 197, 197);
}
.cardcontainer {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  margin-top: 2rem;
  flex-wrap: wrap;
  margin-bottom: 6rem;
}
.cliniccard h2 {
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
  color: #36395a;
}
.timebox {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
}
.timebox div {
  /* border: 1px solid rgb(0, 162, 184); */
  background-color: rgb(236, 246, 255);
  font-size: small;
  font-weight: bold;
  letter-spacing: 0.5px;
  padding: 5px;
  display: flex;
  gap: 2px;
  align-items: center;
  border-radius: 4px;
}

.locationbox {
  /* border: 1px solid red; */
  font-size: small;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px;
  height: 4rem;
  gap: 2px;
  border-radius: 4px;
  background-color: rgb(236, 246, 255);
}
.continuebox {
  margin: auto;
  margin-top: 10px;
  font-size: 0.9rem;
  padding: 3px 13px;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  width: 6rem;
  color: white;
  background: #294af3;
  cursor: pointer !important;
  transition: 0.2s all !important;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px;
}

.continuebox:hover {
  background: #294af3 !important;
  transform: translateY(2px) !important;
}
