.doccontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}
.directoryshell {
  display: flex;
  width: 100%;
  padding-top: 20px;

  flex-wrap: wrap;
  /* min-height: 100vh !important; */
  gap: 20px;
  justify-content: left;
  align-items: flex-start;
}

.doctorcard {
  box-shadow: 5px 6px 20px rgba(37, 43, 51, 0.265);
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 23rem;
  margin: auto;
  position: relative;
  overflow: hidden;
  animation: dotmodal 0.8s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes dotmodal {
  0% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0px);
  }
}
.bottomc1 {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  position: absolute;
  background-color: #00b6d6;
  bottom: -2rem;
  left: -2rem;
  z-index: -1;
}
.bottomc2 {
  width: 9rem;
  height: 8rem;
  border-radius: 50%;
  position: absolute;
  background-color: #0d93ab;
  bottom: -2rem;
  left: -2rem;
  z-index: -2;
}
.topsvg {
  width: 7rem;
  height: 3rem;
  right: -1rem;
  top: 0;
  background: url("/cardback.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.blob {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: aliceblue;
  position: absolute;
  box-shadow: 0 0 10px rgba(198, 198, 198, 0.5);
  top: 4rem !important;
  left: 1.5rem;
  overflow: hidden;
  padding: 2px;
}

.doccontent {
  width: 100%;
  padding: 5px 10px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.doccontent h2 {
  text-align: right;
  font-size: 1.1rem;
  font-weight: bold;
}
.specialist {
  font-size: 0.93rem;
  margin-bottom: 0.3rem;
  width: 80%;
  text-align: right;
}
.doccontent .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  gap: 5px;
  flex-direction: row-reverse;
}
.doccontent .content img {
  width: 25px;
  height: 25px;
}
.imgbox {
  border-radius: 50%;
  padding: 3px;
  z-index: -2;
}
.bookslot {
  margin-top: 10px;
  font-size: 0.9rem;
  padding: 3px 13px;
  border-radius: 4px;
  font-weight: bold;
  color: white;
  background: #294af3;
  cursor: pointer !important;
  transition: 0.2s all !important;
  box-shadow: rgba(0, 41, 247, 0.653) 0 2px 4px;
}

.bookslot:hover {
  background: #294af3 !important;
  transform: translateY(2px) !important;
}
@media (max-width: 390px) {
  .doctorcard {
    width: 21rem;
  }
}
