.embla {
  overflow: hidden;
  background: rgb(255, 255, 255);
  border-radius: 12px;
  padding: 10px;
}
.embla__container {
  display: flex;
  /* justify-content: center; */
  
}
.embla__slide {
  /* border: 2px solid red; */
  flex: 0 0 100%;
  min-width: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
