.footercontainer {
  width: 95% !important;
  margin: auto;
  box-shadow: 0 5px 7px rgba(119, 119, 119, 0.231);
  margin-bottom: 4rem;
  border-radius: 4px;
  margin-top: 3rem;
  background-color: #ffffff !important;
  border-top: 3px solid rgb(0, 172, 172);
  display: flex;
  gap: 5px;
  overflow: hidden;
  position: relative;
  padding: 10px 5px;
  display: flex;
}
.footerboxes {
  color: black;
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 5px;
}
.footerboxes h2 {
  font-weight: bold;
  font-size: small;
}

.footerboxes div {
  width: fit-content;
  color: rgb(0, 115, 119);
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: small;
  border-radius: 4px;
  padding: 4px;
  gap: 10px;
  transition: 0.2s all;
}
.footerboxes div span:hover {
  transition: 0.2s all;

  color: rgb(255, 136, 0);
  cursor: pointer;
}

@media (max-width: 600px) {
  .footerboxes div img {
    width: 20px;
    height: 20px;
  }
  .footc1 {
    display: none;
  }
  .footc2 {
    display: none;
  }
  .footercontainer {
    width: 100%;
  }
}
.footc1 {
  position: absolute;
  width: 10rem;
  height: 10rem;
  border: 20px solid rgba(0, 128, 128, 0.676);
  right: -2rem;
  top: -3rem;
  border-radius: 50%;
}
.footc2 {
  position: absolute;
  width: 15rem;
  height: 15rem;
  border: 20px solid rgba(0, 202, 202, 0.676);
  right: -4rem;
  top: -5rem;
  border-radius: 50%;
}

.scrollanimation {
  width: 35px;
  position: absolute;
  top: -1.5rem;
  transform: translate(-50%, -50%);
  left: 50%;
  padding: 5px;
  height: 35px;
  /* border: 2px solid red; */
  border-radius: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: rgba(8, 187, 199, 0.941);
  animation: animatescrollbox 0.5s linear forwards;
}

.scrollanimation img {
  animation: animatescrolldown 1.5s linear infinite;
}

@keyframes animatescrolldown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(2px);
  }
}
@keyframes animatescrollbox {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
