/* @tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap"); */

body {
  padding: 0;
  padding-top: 50px;
  /* bot */

  background-color: var(--surface-100) !important;
  font-family: "Poppins", sans-serif !important;
}

button{
  user-select: none !important;
}
fieldset{
  border:none !important
}

@media (max-width: 768px) {
  .p-selectbutton .p-button {
    width: 100% !important;
  }
}
/*a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

/* .p-highlight{
  color: white !important;
}
.p-button-label{
  color: white !important;;
}
.pi-phone{
  color: white !important;
}
.pi-map-marker{
  color: white !important;
} */
