@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
.about_welcome{
  width: fit-content;
  padding: 2rem;
  margin-top: 4rem;
  animation:fadeforward 0.8s linear forwards !important;
}


.about_welcome span{
  font-size: 2rem;
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;

}
@keyframes fadeforward{
  0%{
    transform: translateX(-30px);
  }
  100%{
    transform: translateX(0px);
  }
}

.firstsec{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.about_blood{
padding: 4rem 2rem;
text-align: center;
margin-top: 5rem;
animation:fadebackward 0.8s linear forwards !important;
border-radius: 4px;
background: #f0f0f0b3;
margin-right: 1rem;
}

.about_provide{
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  animation:fadeforward 0.8s linear forwards !important;
}

.about_provide h3{
  font-weight: bold;
  font-size: 1.2rem;
  animation:fadeforward 0.8s linear forwards !important;
  text-align: center;
}




