.docphonebookbtn {
  width: 100%;
  /* height: 3rem; */
  /* margin-bottom: 1rem; */
  display: flex;
  align-items: center;
  padding: 10px;
  padding-left: 20px;
  justify-content: left;
}

.phonebookbtn {
  background-color: rgba(0, 255, 34, 0.484);
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 0.8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.emailbtn {
  background-color: rgba(43, 163, 254, 0.484);
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 0.8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.emailimg {
  width: 35px;
  height: 35px;
  /* padding: 7px; */
  /* border-radius: 24px; */
}

.callimg {
  width: 35px;
  height: 35px;
  padding: 7px;
  border-radius: 24px;
  background-color: rgb(1, 167, 1);
}
.callimg img {
  width: 100%;
  height: 100%;
}
.directorypage {
  width: 100%;
  height: 100vh;
  position: absolute;
}
.searchdoc {
  width: 80%;
  border-radius: 4px !important;
  outline: none;
  border: 1px solid grey;
}
.searchdoc:active {
  outline: none !important;
  border: none !important;
  box-sizing: border-box;
}
.searchdoc:focus {
  outline: none !important;
  border: none !important;
}
.directoryshell {
  display: flex;
  gap: 20px;
  /* justify-content: sp; */
  justify-content: center;
  padding-top: 20px;
  flex-wrap: wrap;
}
/* .directorycard {
  width: 23rem;
  display: flex;
  border-radius: 8px;
  height: 11rem;
  flex-direction: column;
  box-shadow: 0 3px 15px rgb(187, 194, 199);
} */
/* 
.carddeatilbox {
  display: flex;
  padding: 5px;
  gap: 10px;
  font-size: 0.9rem;
}

.carddeatilbox div {
  background-color: rgba(238, 199, 255, 0.281);
  padding: 4px 10px;
  border-radius: 4px;
  box-shadow: 0 3px 8px rgb(231, 237, 239);
  font-size: small;
}

.cardname {
  text-align: center;
  font-weight: bold;
  padding: 5px 0px;
} */
.directorycard {
  box-shadow: 0 3px 15px rgb(187, 194, 199);
  /* width: 23rem; */
  width: 21rem;
  /* padding: 5px; */
  height: 13rem;
  overflow: hidden;
  padding-left: 10px;
  border-radius: 8px;

  text-align: left;
  font-size: 0.9rem;
  /* text-align: center; */
  transition: 0.3s all;
  background: url("/dcard.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  /* background-color: aquamarine; */
}
.cardname {
  text-align: center;
  font-weight: bold;
  border-radius: 24px;
  font-size: 1rem;
  padding: 2px 0px;
  margin-bottom: 6px;
  border-bottom: 3px solid #009af4;
}

.showmore {
  color: #009af4;
  font-size: small;
  cursor: pointer;
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
  /* justify-content: center; */
  padding-left: 40px;
}
.carddeatilbox div {
  /* border: 1px solid red; */
  margin-top: 3px;
  padding-left: 43px;
}
