.docphonebookbtn1 {
  display: flex;
  width: 20rem;
  align-items: center;
  justify-content: left;
  padding-left: 10px;
}

.docphonebookbtn2 {
  display: flex;
  height: 3.5rem;
  width: 20rem;
  /* padding-left: 10px; */
  align-items: center;
  justify-content: left;
}
.docphonebookbtn3 {
  display: flex;
  padding-right: 10px;
  height: 3.5rem;
  width: 20rem;
  align-items: center;
  justify-content: left;
}

.phonebookbtn {
  /* background-color: rgba(0, 255, 0, 0.484); */
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  /* border-top: 3px solid rgb(43, 255, 0); */
  background-color:rgba(99, 255, 68, 0.685);
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 0.8px;
  /* box-shadow: 0 5px 7px rgba(139, 139, 139, 0.212); */
  display: flex;
  align-items: center;
  margin: auto;
  width: 20rem;
  /* width: fit-content; */
  justify-content: center;
  gap: 10px;
}

.callimg {
  width: 40px;
  height: 40px;
  padding: 7px;
  border-radius: 24px;
  background-color: rgb(1, 167, 1);
  animation: animatecall 1.7s linear infinite;
  animation-timing-function: ease-out;
}
.callimg img {
  width: 100%;
  height: 100%;
}

@keyframes animatecall {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(45deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.directorypage {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  overscroll-behavior: smooth;
  position: absolute;
  padding: 0px 10px;
}

.directorypage::-webkit-scrollbar {
  display: none;
}
.searchdoc {
  width: 80%;
  border-radius: 4px !important;
  outline: none;
  border: 1px solid grey;
}
.searchdoc:active {
  outline: none !important;
  border: none !important;
  box-sizing: border-box;
}
.searchdoc:focus {
  outline: none !important;
  border: none !important;
}
.directoryshell {
  display: flex;
  width: 100%;
  padding-top: 20px;

  flex-wrap: wrap;
  min-height: 100vh !important;
  gap: 20px;
  justify-content: center;
}

.directorycard {
  box-shadow: 5px 6px 20px rgba(37, 43, 51, 0.265);
  width: 23rem;
  /* height: 15.5rem; */
  border-top: 4px solid rgb(0, 220, 220);

  height: fit-content;
  /* min-height: 13rem; */
  position: relative;
  overflow: hidden;
  padding-left: 5px;
  border-radius: 8px;
  text-align: left;
  font-size: 0.9rem;
  transition: 0.4s all;

  /* background: url("/back3.png"); */
  /* border-left: 8px solid rgb(3, 203, 222); */
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
@media (max-width: 300px) {
  .directorycard {
    height: 15rem;
  }
}

.cardname {
  text-align: center;
  font-weight: bold;
  border-radius: 24px;
  font-size: 1rem;
  padding: 7px 0px;
  /* border-bottom: 3px solid #009af4; */
}

.showmore {
  color: #008187;
  font-size: small;
  cursor: pointer;
  font-weight: bold;
  width: 8rem;
  text-align: right;
}
.carddeatilbox {
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.carddeatilbox div {
  padding: 5px;
  border-radius: 3px;
  /* border: 1px solid red; */
  /* background-color: rgba(237, 234, 234, 0.505); */
  border-left: 3px solid rgb(0, 220, 220);
  /* padding-left: 25px; */
  /* bot */
}

.imagefade{
  animation: animateimg 0.4s linear forwards !important;
}

@keyframes animateimg{
  0%{
    opacity: 0;
    transform: translateX(20px);
  }
  100%{
    opacity: 1;
    transform: translateX(0px);

  }
}

.carddeatilbox div:nth-last-child(2) {
  /* background-color: white; */
  border: none;
}
.nsmimg {
  width: 45px;
  height: 45px;
  background: url("/nashamukt.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}
.nsmimgbtn {
  /* background-color: rgba(0, 251, 255, 0.484); */
  background-color: rgba(0, 255, 234, 0.331);
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 0.8px;
  height: 100%;
  /* box-shadow: 0 5px 7px rgba(133, 133, 133, 0.212); */
  display: flex;
  align-items: center;
  /* width: fit-content; */
  /* width: 100% !important; */
  justify-content: center;
  gap: 10px;
  margin: auto;
  display: flex;
  /* max-height: 3.2rem; */
}
.bloodimgbtn {
  /* border-top: 3px solid rgb(255, 0, 51); */
  background-color: rgba(255, 0, 0, 0.331);
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
  width: 20rem;
  justify-content: center;
  gap: 10px;
  height: 100%;
  margin: auto;
  /* max-height: 3.5rem; */
}
.bloodimg {
  width: 45px;
  height: 45px;
  background: url("/bloodlogo2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 50%;
  animation: bloodlogoanimate 0.7s linear forwards;
}

@keyframes bloodlogoanimate{
0%{
  transform: translateY(-12px);
}
100%{
  transform: translateY(0px);
}
}

@media (max-width: 920px) {
  .docphonebookbtn1 {
    width: 15rem;
  }
  .docphonebookbtn2 {
    width: 15rem;
  }
  .docphonebookbtn3 {
    width: 15rem;
  }
}
@media (max-width: 730px) {
  .phonebookbtn {
    width: 97%;
    margin: auto;
    /* border: 2px solid red; */
  }
  .docphonebookbtn1 {
    width: 100%;
    padding-left: 0;
  }
  .docphonebookbtn2 {
    width: 48%;
  }
  .docphonebookbtn3 {
    width: 48%;
  }
}
@media (max-width: 420px) {
  .docphonebookbtn2 {
    width: 47%;
  }
  .docphonebookbtn2 div,
  .docphonebookbtn3 div {
    font-size: 0.75rem !important;
  }
  .docphonebookbtn3 {
    width: 47%;
  }
}
