/* Base styling */

.searchinput {
  width: 100%;
  border-radius: 24px !important;
  border: none;
  outline: none;
  margin: auto;
  padding: 10px;
  box-shadow: -3px 2px 5px rgba(0, 0, 0, 0.068);
  color: black;
  padding: 10px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.searchform {
  width: 100%;
}

.searchform div:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
}

.searchbtn {
  height: 45px;
  width: 100px;
  font-size: small;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  background-color:rgb(7, 203, 187) !important;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.128);
  font-weight: bold;
  color: white;
}

.searchpage::-webkit-scrollbar {
  display: none;
}


.suggestpopup{
  position: absolute;
  width: 100%;
  box-shadow: 0 2px 10px rgba(157, 157, 157, 0.701);
  background-color: rgb(252, 252, 252);
  padding: 10px;
  top: 3.5rem;
  z-index: 20;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center !important;

  /* gap: 1px; */
  flex-direction: column;
}

.suggestoption{
  padding: 7px;
  background-color: #007b7b;
  height: fit-content;
  color: white;
  width: 100%;
  font-size: 14px;
  border-radius: 4px;
  border-bottom: 1px solid rgb(191, 191, 191);
}