@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

.userappocontainer {
  overflow: hidden;
  /* border: 2px solid red; */
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  margin: auto;
}

.userappocontainer::-webkit-scrollbar {
  display: none;
}
.userappocontainer h1 {
  text-align: center;
  font-size: 1.2rem;
  color: rgb(3, 157, 157);
}
.userapposhell {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 2.5rem;
  flex-wrap: wrap;
  padding-bottom: 100px;
}
.userappocard {
  width: 22rem;
  padding: 5px;
  position: relative;
  color: #36395a;
  background-color: #f8f8ff !important;
  border-radius: 8px;
  border-top-left-radius: 0;
  box-shadow: 5px 15px 20px rgba(37, 43, 51, 0.265);
  font-family: "Poppins", sans-serif;
  margin: auto;
  border-top: 4px solid rgb(1, 197, 197);
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.userappocard h2 {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif !important;
}

.userdetail {
  display: flex;
  font-size: 0.8rem;
  font-weight: bold;
  gap: 10px;
  justify-content: space-between;
}
.userdetail div img {
  width: 25px;
  height: 25px;
}
.userdetail div {
  padding: 5px;
  width: 100%;
  display: flex;
  border-radius: 4px;
  background-color: aliceblue;
  align-items: center;
  gap: 10px;
}
.CRNnumber {
  font-size: 1rem;
  width: 100%;
  display: flex;
  justify-content: left;
  gap: 20px;
}

.crnrefresh {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(13, 0, 255) !important;
  cursor: pointer;
  padding: 3px;
  width: 5rem !important;
  height: 2rem;
  transition: 0.2s all;
}
.crnrefresh:active {
  transform: translateY(3px);
}

.appbadge {
  /* border: 2px solid red; */
  /* background-color: red; */
  color: rgb(255, 255, 255);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  width: fit-content;
  padding: 2px 8px;
  position: absolute;

  top: -1.45rem;
  left: 0px;
  font-size: small;
  font-weight: bold;
}

@media (max-width: 370px) {
  .userappocard {
    width: 20rem;
  }
}
